/* page_02 页面 */
body{margin:0;padding:0;font-size:12px;color:#333;}
a{text-decoration:none;color:#3f6ea6;}
a:hover{text-decoration:underline;}
input{margin:0;padding:0;}
img{border:none;}
ul{margin:0;padding:0;list-style:none;}

#wrapper{width:995px;margin:0 auto;}

#header{height:147px;background:url(../images/Page_01_01.jpg) no-repeat;position:relative;}


/*登陆信息的显示*/
#header #information{position:absolute;left:460px;height:25px;line-height:25px;}
#header .exit{color:#333;}
/*搜索信息的显示*/
#header .search{ position:absolute;left:-175px;top:112px;width:368px;height:22px;border:1px solid #ccc}
#header .searchInput{ width:287px;height:19px;border:0px;margin:0;padding:0;line-height:23px;}
#header .searchBtn{ width:81px;height:22px;background:url(../images/searchBtn.jpg) no-repeat left -2px; border:none;cursor:pointer;}

#banner{height:254px;background:url(../images/Page_01_02.jpg) no-repeat;}

/* 图书商品分类 */
#content{height:670px;width:1000px;margin:0 auto;}
.content-left{float:left;width:197px;height:530px;background:url(../images/Page_01_left.jpg) no-repeat right top;}
.content-left ul{margin-top:50px;margin-left:40px}
.content-left li{height:26px;}
.content-left li a{color:#444;}
.content-left li span{color:#999}

.content-right{float:left;width:775px;}
.content-right .row01{position:relative;height:50px;background:url(../images/Page_01_row01.jpg) no-repeat left top;}
.row01 .px{position:absolute;left:50px;top:0px;}
.row01 .px img{border:none;}





/* 图书购买详细信息 */
.row02{margin:5px 12px;}
.row02 h2{color:#000;border-bottom:1px dashed #666;margin-bottom:30px;padding-bottom:8px;background:url(../images/Page_02_h2_bg.jpg) no-repeat right bottom;}
.row02_pic{float:left;width:400px;text-align:center;}

.row02 .p02{float:left;width:190px;height:108px;border:1px solid #CCC;background-color:#fef9e5;}
.row02 .p02 p{margin:15px 10px 10px 15px;}
.row02 .p02 .input{width:35px;height:14px;}



.red{font-size:14px;font-weight:bold;color:#F00;}
.buy{width:151px;height:42px;border:none;background:url(../images/Page_02_buy.jpg) no-repeat left top;cursor:pointer;margin-left:20px;}
.collection{width:151px;height:42px;border:none;background:url(../images/Page_02_collection.jpg) no-repeat left top;cursor:pointer;vertical-align:bottom;}

.clr{clear:both;width:775px;height:235px;background:url(../images/Page_02_clrBg.jpg) no-repeat;}


#column_02{height:276px;background:url(../images/Page_01_05.jpg) no-repeat;}

#footer{height:131px;background:url(../images/Page_01_06.jpg) no-repeat;}

