<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Ihave_shopping</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.myhave.user.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.myhave.user.servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellServlet</display-name>
    <servlet-name>SellServlet</servlet-name>
    <servlet-class>com.myhave.sell.servlet.SellServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellServlet</servlet-name>
    <url-pattern>/SellServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOldServlet</display-name>
    <servlet-name>AddOldServlet</servlet-name>
    <servlet-class>com.myhave.old.servlet.AddOldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOldServlet</servlet-name>
    <url-pattern>/AddOldServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyServlet</display-name>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>com.myhave.buy.servlet.BuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/BuyServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SetCharacterEncoding</filter-name>
    <filter-class>com.myhave.buy.dao.SetEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>GBK</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInformationServlet</display-name>
    <servlet-name>UpdateInformationServlet</servlet-name>
    <servlet-class>com.myhave.information.servlet.UpdateInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInformationServlet</servlet-name>
    <url-pattern>/UpdateInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUsernameServlet</display-name>
    <servlet-name>UpdateUsernameServlet</servlet-name>
    <servlet-class>com.myhave.information.servlet.UpdateUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUsernameServlet</servlet-name>
    <url-pattern>/UpdateUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePasswordServlet</display-name>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <servlet-class>com.myhave.information.servlet.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <url-pattern>/UpdatePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTelServlet</display-name>
    <servlet-name>UpdateTelServlet</servlet-name>
    <servlet-class>com.myhave.information.servlet.UpdateTelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTelServlet</servlet-name>
    <url-pattern>/UpdateTelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAddressServlet</display-name>
    <servlet-name>UpdateAddressServlet</servlet-name>
    <servlet-class>com.myhave.information.servlet.UpdateAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAddressServlet</servlet-name>
    <url-pattern>/UpdateAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServletAjax</display-name>
    <servlet-name>AddServletAjax</servlet-name>
    <servlet-class>com.myhave.user.servlet.AddServletAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServletAjax</servlet-name>
    <url-pattern>/AddServletAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServletAjax1</display-name>
    <servlet-name>AddServletAjax1</servlet-name>
    <servlet-class>com.myhave.user.servlet.AddServletAjax1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServletAjax1</servlet-name>
    <url-pattern>/AddServletAjax1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServletPasswordAjax</display-name>
    <servlet-name>AddServletPasswordAjax</servlet-name>
    <servlet-class>com.myhave.user.servlet.AddServletPasswordAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServletPasswordAjax</servlet-name>
    <url-pattern>/AddServletPasswordAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailServlet</display-name>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>com.myhave.buy.servlet.DetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ForgetServlet</servlet-name>
    <servlet-class>com.myhave.forget.servlet.ForgetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/DetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgetServlet</servlet-name>
    <url-pattern>/ForgetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InformationServlet</display-name>
    <servlet-name>InformationServlet</servlet-name>
    <servlet-class>com.myhave.information.servlet.InformationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddSellServlet</servlet-name>
    <servlet-class>com.myhave.sell.servlet.AddSellServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteOldServlet</servlet-name>
    <servlet-class>com.myhave.old.servlet.DeleteOldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformationServlet</servlet-name>
    <url-pattern>/InformationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSellServlet</servlet-name>
    <url-pattern>/AddSellServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteOldServlet</servlet-name>
    <url-pattern>/DeleteOldServlet</url-pattern>
  </servlet-mapping>
</web-app>